

@if (ViewBag.ErrorMessage == null)
{
    <h3>
        An Error occured while processing your request.
        The support team is notified and we are working on the fix
    </h3>
    <h5>
        Please contact us on support@support.com
    </h5>
}
else
{
<br />
<h1 class="text-danger text-center">@ViewBag.ErrorTitle</h1>
<br />
<hr />
<br />
<h6 class="text-danger text-center">@ViewBag.ErrorMessage</h6>
}

