@{
    ViewBag.Title = "Not Found";
}

<br />
<h1 class="text-danger">@ViewBag.ErrorMessage</h1>

<br />
<a class="btn btn-success" asp-controller="home" asp-action="index" style="width:auto">
    Click here to navigate to the list
</a>
