@model ForgotPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
}

<h1>Password reset</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group col-md-6">
                <label asp-for="email">Enter the Email of the account you want to reset the password</label>
                <input asp-for="email" style="width:inherit" />
                <span asp-validation-for="email" class="text-danger"></span>
                <br />
                <br />
                <hr />
                <button type="submit" class="btn btn-primary btn-sm m-1" style="width:auto">Send Email</button>
            </div>
            
        </form>
    </div>
</div>
