@model ResetPasswordViewModel

@{
    ViewBag.Title = "Enter new Password";
}

<hr />
<h1 class="text-center text-danger font-weight-bold">Enter new Password to reset</h1>
<hr />
<form method="post" class="col-md-6">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="Email" />

    <div class="form-group">
        <label asp-for="Password"></label>
        <input class="form-control" asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input class="form-control" asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary btn-sm m-1">Reset</button>



</form>
