@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "List of Users";
}

<h1>List of Users</h1>

@if (Model.Any())
{
    <a asp-action="Register" asp-controller="Account" class="btn btn-primary btn-sm m-1" style="width:auto">
        Add new User
    </a>

    foreach (var user in Model)
    {
        <div class="card">
            <div class="card-header">
                User: @user.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
            </div>
            <div class="card-footer">
                <a asp-action="Edit" asp-controller="Account" class="btn btn-primary btn-sm m-1">
                    Edit
                </a>
                <a asp-action="Delete" asp-controller="Account" class="btn btn-danger btn-sm m-1">
                    Delete
                </a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No users created yet
        </div>
        <div class="card-body">
            Use the button below to create new user
        </div>
        <div class="card-footer">
            <a asp-action="Register" asp-controller="Account" class="btn btn-primary btn-sm m-1" style="width:auto">
                Add new User
            </a>
        </div>
    </div>
}