@model JobEditViewModel

@{
    ViewBag.Title = "Edit Job";
    var photoPath = "~/files/" + (Model.existingFilePath ?? "microsoft.jpg");
}

<form enctype="multipart/form-data" asp-controller="Home" asp-action="Edit" method="post" class="mt-3">
    <input hidden asp-for="Id" />
    <input hidden asp-for="existingFilePath" />
    <div class="form-group row">
        <label asp-for="Company" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Company" class="form-control" placeholder="Company" />
            <span asp-validation-for="Company" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="JobDescription" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="JobDescription" class="form-control" placeholder="Description" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="JobLink" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="JobLink" class="form-control" placeholder="Job Link" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Date" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Date" class="form-control" placeholder="Date" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="JobEmail" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="JobEmail" class="form-control" placeholder="Contact email" />
            <span asp-validation-for="JobEmail" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Expectation" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="Expectation" asp-items="Html.GetEnumSelectList<Expectation>()"
                    class="custom-select mr-sm-2">
                <option value="">Please Select</option>
            </select>
            <span asp-validation-for="Expectation" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="File" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input multiple asp-for="File" class="form-control custom-file-input" />
                <label class="custom-file-label">Click here to change File...</label>
            </div>
        </div>
    </div>

    <div class="form-group row col-sm-4 offset-4">
        <img src="@photoPath" class="imageThumbnail" asp-append-version="true" />
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary btn-sm">Update</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-danger btn-sm">Cancel</a>
        </div>
    </div>

    @section Scripts {
        <script>
            $(document).ready(function () {
                //select the class(custom file) -- bind to change event
                $('.custom-file-input').on("change", function () { // on change execute this function
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
        </script>
    }

</form>
