@model int

@{ 
    ViewBag.Title = "404 - Job Not Found";
}

<div class="alert alert-danger m-3">

    <h4>404 Not Found Error : </h4>

    <hr />

    <h5>The application you are looking for cannot be found: @Model</h5>

</div>

<a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary m-3" style="width:auto">
    Click here to return to the list</a>