@model int

@{ 
    ViewBag.Title = "404 - Job Not Found";
}

<div class="alert alert-danger mt-1 mb-1">
    <h4>404 Not Found Error : </h4>
    <hr />
    <h5>Job with the ID = @Model cannot be found</h5>
</div>
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-success" style="width:auto">
    Click here to return to the list</a>