:root {
    --invert: invert(0);
}

.darkmode {
    filter: invert(95%) hue-rotate(180deg);
    background-color: #202020;
    --invert: invert(95%) hue-rotate(180deg);
}

.invert{
    filter: var(--invert);
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
}

.btn {
    width: 75px;
    filter: var(--invert);
}

label{
    color: #6c757d;
}

.card-header {
    color: #6c757d;
}

.imageThumbnail {
    height: 200px;
    width: auto;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.vl {
    border-left: 2px solid lightgray;
    height: 400px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: inherit;
}

.navbar {
    width: 100%;
}

.centerWelcome {
    margin-top:150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    margin-top: auto;
    background-color: #343a40;
    color: #999c8d;
}
