.btn{
    width:75px;
}
.imageThumbnail{
    height:200px;
    width:auto;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.vl {
    border-left: 2px solid lightgray;
    height: 400px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: inherit;
}
.navbar{
    width:100%;
}
